<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title></title>
<style >

</style>
</head>
<body>
<div>
  用户登录
  <%= form_tag("/backend/confirm",method: "post") do %>
    请输入用户名： <%= text_field_tag(:name) %>
    </br>
    请输入密码： <%= text_field_tag(:password) %>
    </br>
    <%= submit_tag("注册") %>
    <%= submit_tag(value = "登录",options = { "name" => "signup" }) %>
  <% end %>
</div>


</body>
</html>
