<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title></title>
<style >

</style>
</head>
<body>
<div>
  <%= form_for @post, :url => post_path(@post), :method => :patch do |f| %>
    <%= f.label :title, "标题" %>
    <%= f.text_field :title %>
    </br>
    <%= f.label :text, "正文" %>
    <%= f.text_area :text %>

    <%= f.submit "更新" %>
<% end %>
</div>


</body>
</html>
