<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title></title>
<style >

</style>
</head>
<body>
<div>
  <% @feedbacks.each do |feedback| %>
  <li>
    ID:<%= feedback.id %> &nbsp;
    反馈人昵称：<%= feedback.nickname %>
    </br>
    内容：<%= feedback.content %> &nbsp;
    创建日期：<%= feedback.created_at %>
    </br>
    </br>
  </li>
  <% end %>
  </br>
  </br>
  <%= button_to'返回', { :controller => 'admin/backend', :action => 'index' } , :method => :get %>
</div>


</body>
</html>
