<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title>留言板</title>
<style >
table{
  table-layout:fixed;word-wrap:break-word;
}
</style>
</head>
<body>
<div>
  <div>
    <%=@on_screen%>
    </br>
    <% @messages.each do |c| %>
        <table width="600" style="table-layout:fixed">
          <tr>
            <td width="600">
              id：<%=c.id%> 作者：<%=c.user.username%>  在<%=c.created_at%>的留言
              <a href=<%="/delete/#{c.id}"%>>
                删除留言
              </a>
            </td>
          </tr>
          <tr>
            <td width="600">
              <%=c.content%>
            </td>
          </tr>
        </table>
    <% end %>
  </div>
  <div>
    <form action="/add" method="post">
      <textarea name="content" rows="6" cols="60">请输入内容</textarea>
      </br>
      <input type="submit" style="background-color:green;color:white;" value="增加">
    </form>
  </br>
  </br>
    <form action="/" method="get">
      筛选留言
      </br>
      id：<input name="id" style="text">
      </br>
      &nbsp;&nbsp;&nbsp;或
      </br>
      作者：<input name="username" style="text">
      </br>
      <input type="submit" style="background-color:blue;color:white" value="筛选">
    </form>
    </br>
    </br>
    <form action="/change" method="get">
        <input type="submit" value="修改密码">
    </form>
    <form action="/logout" method="get">
      <input type="submit" value="退出登录">
    </form>
  </div>
</div>


</body>
</html>
